.vscode/
.vs/
out/
obj/
bin/
*.tar.gz
*.tar.bz2
trunk/mysql-server-mysql-8.0.28/build/
trunk/mysql-server-mysql-8.0.28/build-x86/
trunk/mysql-server-mysql-8.0.28/boost/
trunk/mysql-server-mysql-8.0.28/boost-x86/
*.out
*.o
